# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:

1. python
2. R
3. julia

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. sk-learn
3. numpy

| Data Science Tools |
|---------------------|
| jupyter notebook |
| visual studio |
| R studio |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [10]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60.
minutes_to_converte = 200
hour = 200 // 60
min = minutes_to_converte - hour*60

print(" the conversion of 200 minutes is :", hour," hours and", min, "minutes")

 the conversion of 200 minutes is : 3  hours and 20 minutes

### Objectives
- python
- julia
- R
- C++
- SQL
- java

## Author : YEO Chigata Ibrahim